#extra {
    position: absolute;
    margin-left: 100px;
    bottom: 100px;
    right: 300px;
    transition: 1.5s;
    transition-delay: 0.5s;
    width: 560px;
    height: 315px;
    display: block;
}

#gentlemen { 
    position: absolute;
    margin-left: 100px;
    bottom: 100px;
    left: 300px;
    transition: 1.5s;
    transition-delay: 0.5s;
    width: 560px;
    height: 315px;
    display: block;
}

#extra:hover {
    width: 600px;
    height: 350px;
    transition: 1.5s;
    transition-delay: 0.5s;
}

#gentlemen:hover {
    width: 600px;
    height: 350px;
    transition: 1.5s;
    transition-delay: 0.5s;
}